@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,300;1,100&family=Roboto:ital,wght@0,100;0,300;1,500&family=Source+Sans+Pro:wght@200;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.home{
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;

}
img[src="images/assets/logo/logo.png"]{
    margin-top: 110px;
}
h1{
    font-size: 30px;
    letter-spacing: 5px;
}

/*-----------About section-------*/
.about{
    text-align: center;
    margin-top: 60px;
}
/*--------service section-------*/
.service{
    background-image: url(../images/assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    padding: 110px;
    margin-top: 40px;
}
/*-------- DO SECTION-------*/
.do{
    margin-top: 40px;
text-align: center;
padding: 10px;
}
#des-content, #dev-content, #pro-content{
    text-align: center;
     display: none; 
}
.col-md-4{
    text-align: center;
}
h6{
    font-weight: bold;
}

/*------portfolio-----*/

.portfolio h4{
    text-align: center;
    
    }
    .portfolio{
       margin-top: 50px;
       margin-bottom: 50px;
    }
    
    .col-md-3{
        width:25%;
        
    }
    .por{
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        
    }
    /*-----contact------*/
.contact{
    background-image: url(../images/assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 600px;
    text-align: center;
    color: white;
    font-size: 15px;
  
}
.contact h4{
    padding-top: 50px;
}
.con{
    text-align: center;
}
.contact input[type="text"], input[type="email"]{
    border: 1px solid #fff;
    background: transparent;
    width: 60%;
    font-size: 15px;
    color: #fff;
    margin: 30px;
}

.contact input[type="email"]{
    margin-left: -250px;
}

.contact input[type="text"]{
    margin-left: 250px;
}

::placeholder{
    color: white;
    padding: 10px;
    font-weight: bold;
}
textarea{
    background: transparent;
    
}
